*{
  box-sizing: border-box;
}
.navbar-red{
  background-color: red;
  color:blue;
}

.glyphicon{
  margin: 10px 5px;
  font-size: 1.4em;
}
.glyphicon-off{
    font-size: 1.7em;
    margin: 10px 10px;
    color: white;
}

.test{
  background-color: #E76049;
}
 .test:hover{
      background-color: #F4654D;
}

.sidebar{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#1a1a1a;
}
/* Sidebar header */
.sidebar-avatar{
  width: 250px;
  display: block;
  height: 80px;
  background-color: #FA7252;
}
.sidebar-avatar img{
  margin: 20px auto;
  width: 40px;
  height: 40px;
}

/*sidebar Controllers */
.sidebar-controllers{
  display: table;
  width: 250px;
  height: 35px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #DE5939;
}
.sidebar-controllers ul{
  display: table-row;
  margin: 0;
  padding: 0;
}
.sidebar-controllers li{
  border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    background: none;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #cf4d2e;
}
.sidebar-controllers a{
  outline: none;
  color: #993F31;
}
.sidebar-controllers li:hover{
background-color: rgba(0, 0, 0, 0.04);
}
 .active{
  background-color: #ba4e3b;
}

.sidebar-controllers .glyphicon{
  font-size: 15px;
  padding:0;
  margin:0;
}

 /* Sidebar menu */
/* Scroll
.sidebar-menu{
  height: 100%;
  overflow-y: hidden;
}
.sidebar-menu:hover{
  overflow-y: scroll;
}
*/
/* search input*/
.search-input{
  display: block;
  border:none;
  background-color:inherit;
  border-bottom: 1px solid grey;
  color: grey;
  padding: 5px 15px;
  margin: 10px auto;
}

.sidebar-menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidebar-menu a:hover{
  background-color:#000;
}
.sidebar-menu-header{
  color:#4d4d4d;
}
